<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>welcome! {{my_variable}}</h1>
    <h1>{{letters}}</h1>
    <h1>{{kitty_dictionary['kitty_name']}}</h1>
    <ul>
        
        {% for i in mynum %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>
    
    {% if 2 in mynum %}
       <p>Found 2, its in the list</p>
    {% else %}
    <p>aww 2 its not in the list</p>
    {% endif %}

    
    {% if user_login %}
        <p>welcome back hoe!</p>
    {% else %}
        <p>yo man, your arent logged in</p>
    {% endif %}
        
</body>
</html>