<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
<h2>UPDATE</h2>
<form action="{{ url_for('profile') }}" method="post">
    <div class="msg">{{ msg }}</div>
    <input id="username" name="username" type="text" placeholder="change Your Username" class="textbox" /></br></br>
    <input type="submit" class="btn" value="submit"></br </div> 
</form>
 <a href="{{ url_for('logout') }}" class="btn">Logout</a>